@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
#fondocontac {
    background-color: darkslategray;
}
.usu{
    background-color: darkcyan;
    font-family: 'Koulen', cursive;
    position: relative;
    left: 700px;
    border-radius: 2%;
    padding: 1px;
    margin: 10px 1px;
    box-sizing:border-box;
    width: 30rem;
    height: 485px;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    display: flex;
}
.logo{
    font-family: 'Koulen', cursive;
    background-image: url(../imagenes/descarga\ \(2\).png); 
    background-position:left ;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0px;
    height: 200px;
    width: 210px;
    border-radius: 2%;
    padding: 0px;
    margin: 0px;
    left: 1px;
    box-sizing:border-box;
    align-items:flex-start;
    display: flex;
}