@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
#contac__estructura {
    background-color: darkslategray;
}
.usu{
    display: flex;
    border-radius: 2%;
    height: 55rem;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Koulen', cursive;  
    place-items: center;
    background-color: darkcyan;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    transition:height 1s, background 1s;
}
.logo{
    font-family: 'Koulen', cursive;
    background-image: url(../imagenes/descarga\ \(2\).png); 
    background-position:left ;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0px;
    height: 200px;
    width: 210px;
    border-radius: 2%;
    padding: 0px;
    margin: 0px;
    left: 1px;
    box-sizing:border-box;
    align-items:flex-start;
    display: flex;
}
@media screen and (max-width:425px) {
    #contac__estructura{
        background-color: chartreuse;
    }
}
@media screen and (min-width:768px) {
    #contac__estructura{
        background-color:darkkhaki; 
    
    }
}
