
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
#index__estructura{
    background-color:orange;
}
.logo__in{
    height: 5rem;
}
.main__index{
    display: flex;
    border-radius: 1%;
    height: 30rem;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Koulen', cursive;  
    place-items: center;
    background-color: goldenrod;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    transition:height 1s, background 1s;
   .main__index:hover{
    height: 35rem;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,90,9,1) 0%, rgba(189,120,5,1) 9%, rgba(187,118,5,1) 20%, rgba(255,196,0,1) 63%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,90,9,1) 0%, rgba(189,120,5,1) 9%, rgba(187,118,5,1) 20%, rgba(255,196,0,1) 63%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,90,9,1) 0%, rgba(189,120,5,1) 9%, rgba(187,118,5,1) 20%, rgba(255,196,0,1) 63%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#ffc400",GradientType=1);
}
}
@import"./parciales/formato_index";
.footer {
    display: flex;
    border-radius: 1%;
    box-sizing:border-box;
    margin: 1rem;
    padding: 1rem;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,90,9,1) 0%, rgba(189,120,5,1) 9%, rgba(187,118,5,1) 20%, rgba(255,196,0,1) 63%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,90,9,1) 0%, rgba(189,120,5,1) 9%, rgba(187,118,5,1) 20%, rgba(255,196,0,1) 63%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,90,9,1) 0%, rgba(189,120,5,1) 9%, rgba(187,118,5,1) 20%, rgba(255,196,0,1) 63%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#ffc400",GradientType=1);
    place-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Koulen', cursive;
    position: relative;
.logo__footer {
    height: 15rem;
}
}
#index__estructura{
    display:grid;
    grid-template-columns:1fr auto 1fr; 
    grid-template-rows: auto 2fr auto ;
    grid-template-areas: "header header header" 
                         "NFT main cripto"
                         "footer footer footer";
    
}
.header__index{
    grid-area: header;
  
}
.main__index{
    grid-area: main ;
}
.cripto{
    grid-area: cripto;
}
.nft{
    grid-area: NFT;
}
.footer{
    grid-area: footer;
}
@media screen and (max-width:560px) {
    #index__estructura{
        background-color: gold;
        grid-template-areas: "header header header"
                             "main main main"
                             "NFT NFT NFT"
                             "cripto cripto cripto"
                             "footer footer footer";
    }
  
    }
@media screen and (min-width:768px) {
    #index__estructura{
        background-color:darkkhaki; 
    
    }
}

.inver{
    display: flex;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1%;
    background-color: goldenrod;
    font-family: 'Koulen', cursive;
    place-items: center;
    justify-content:space-evenly ;
    align-items: center;
    flex-direction: column;
.inver__ti {
    color: red;
}
}
@import"./parciales/formato_inver";
#inver__estruc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "inver inver inver"
                         "arti1 arti2 arti3";

}
.inver{
    grid-area: inver;
}
.inver__Tip1{
    grid-area: arti1;
}
.inver__Tip2{
    grid-area: arti2;
}
.inver__Tip3{
    grid-area: arti3;
}
@media screen and (max-width: 767px){
    #inver__estruc{
        background-color: gold;
        grid-template-areas: "inver inver inver"
                             "arti1 arti1 arti1"
                             "arti2 arti2 arti2"
                             "arti3 arti3 arti3";
    }
}
@media screen and (min-width:768px) {
    #inver__estruc{
        background-color:darkkhaki; 
    
    }
}

#tema_estruc {
    background-color: gray;
}
.tema{
    background-color: gainsboro;
    position: relative;
    font-family: 'Koulen', cursive;
    border-radius: 2%;
    padding: 1px;
    margin: 10px 1px;
    box-sizing:border-box;
    width: 100vh;
    left: 500px;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    display: flex;
}
@import"./parciales/logo";
@media screen and (max-width:425px) {
    #tema__estruc{
        background-color: chartreuse;
    }
}
@media screen and (min-width:768px) {
    #tema__estruc{
        background-color:darkkhaki; 
    
    }
}
#contac__estructura {
    background-color: darkslategray;
}
.usu{
    display: flex;
    border-radius: 2%;
    height: 55rem;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Koulen', cursive;  
    place-items: center;
    background-color: darkcyan;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    transition:height 1s, background 1s;
}
@media screen and (max-width:425px) {
    #contac__estructura{
        background-color:darkolivegreen;
    }
}
@media screen and (min-width:768px) {
    #contac__estructura{
        background-color:darkslategray; 
    
    }
}
#bille__estruc{
        background-color: darkgreen;
    }
.bille{
    display: flex;
    border-radius: 2%;
    height: 30rem;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Koulen', cursive;  
    place-items: center;
    background-color: darkolivegreen;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    transition:height 1s,  1s;
.bille__logo{
    height: 10rem;
}
}
@media screen and (max-width:425px) {
    #bille__estruc{
        background-color: darkseagreen;
    }
}
@media screen and (min-width:768px) {
    #bille__estruc{
        background-color: darkseagreen;

    }
}
