.inver__Tip1{
    display: flex;
    border-radius: 1%;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Koulen', cursive;  
    place-items: center;
    background-color: goldenrod;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.inver__Tip2{
    display: flex;
    border-radius: 1%;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Koulen', cursive;  
    place-items: center;
    background-color: goldenrod;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.inver__Tip3{
    display: flex;
    border-radius: 1%;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Koulen', cursive;  
    place-items: center;
    background-color: goldenrod;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}