.logo{
    font-family: 'Koulen', cursive;
    background-image: url(../imagenes/descarga\ \(2\).png); 
    background-position:left ;
    position: fixed;
    bottom: 0px;
    height: 10rem;
    width: 12rem;
    border-radius: 4%;
    padding: 0px;
    margin: 0px;
    left: 1px;
    box-sizing:border-box;
    align-items:flex-start;
    display: flex;
}